[Unit]
Description=Dynamic key remapper for X11 and Wayland

[Service]
KillMode=process
ExecStart=/usr/bin/xremap /etc/xremap/config.yaml --watch
Type=simple
Restart=always

Environment=DISPLAY=:0

[Install]
WantedBy=default.target
