pkgbase = xav-static-notq-git
	pkgdesc = The Most Efficient Chunked Video Encoding Framework (static build without TQ)
	pkgver = r112.a27f172
	pkgrel = 17
	url = https://github.com/emrakyz/xav
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cargo
	makedepends = nasm
	makedepends = clang
	makedepends = llvm
	makedepends = meson
	makedepends = ninja
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = cmake
	depends = svt-av1
	depends = mkvtoolnix-cli
	optdepends = gpac: for VVC muxing and concatenation
	optdepends = opus-tools: for audio encoding
	provides = xav
	provides = xav-git
	conflicts = xav
	conflicts = xav-git
	conflicts = xav-dynamic-tq-git
	conflicts = xav-dynamic-notq-git
	conflicts = xav-static-tq-git
	source = xav::git+https://github.com/emrakyz/xav.git
	source = zlib::git+https://github.com/madler/zlib.git
	source = dav1d::git+https://code.videolan.org/videolan/dav1d.git
	source = ffmpeg::git+https://github.com/FFmpeg/FFmpeg.git
	source = ffms2::git+https://github.com/FFMS/ffms2.git
	source = llvm-project-19.1.7.src.tar.xz::https://github.com/llvm/llvm-project/releases/download/llvmorg-19.1.7/llvm-project-19.1.7.src.tar.xz
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = xav-static-notq-git
